**/node_modules/
**/dist/
**/logs/
**/.vscode/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.flaskenv*
!.env.project
!.env.vault
*.env.*
!front/.env.production
!front/.env.example
