@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply flex h-screen bg-white text-neutral-800;
    }

    body {
        @apply flex-1;
    }

    #root {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        height: 100%;
        width: 100%;
    }

    /* custom scrollbar */
    ::-webkit-scrollbar {
        z-index: -10;
        width: 10px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-neutral-300;
        border-radius: 20px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-neutral-400;
    }
}

@layer components {
    .heading {
        @apply text-4xl font-bold tracking-tight text-neutral-800;
    }

    .sub-heading {
        @apply text-lg font-light tracking-normal text-neutral-700;
        line-height: 1.6 !important;
    }

    .card {
        @apply bg-white rounded-3xl shadow-lg;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    }

    .large-shadow {
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    }
    .mid-shadow {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

    .form-inline {
        @apply p-10 mx-5 my-5 w-full card sm:mx-10 h-fit;
    }

    .form-standalone {
        @apply card bg-white sm:shadow-lg sm:rounded-lg p-10 w-full sm:w-fit mx-5 sm:mx-auto sm:min-w-[608px] h-fit max-w-5xl 2xl:max-w-6xl sm:my-5;
    }

    .field-container {
        @apply my-2 w-full;
    }

    .field-label {
        @apply block ml-1 text-sm tracking-wide leading-6 text-neutral-400;
    }

    .field-input {
        @apply flex flex-row px-3 py-2 w-full text-base bg-white rounded border-0 ring-1 shadow-none outline-none text-neutral-700 ring-neutral-200 placeholder:text-neutral-400 focus-within:ring-brand-500;
    }

    .button {
        @apply flex flex-row gap-x-2 justify-center items-center px-6 py-2 text-lg font-semibold rounded-md w-fit focus:outline-none focus:ring-2;
    }

    input::-webkit-calendar-picker-indicator {
        @apply my-auto;
        @apply text-brand-500;
        filter: opacity(0.2) drop-shadow(0 0 0 currentColor) drop-shadow(0 0 0 currentColor)
            drop-shadow(0 0 0 currentColor);
        height: 18px;
        width: 18px;
    }
}

@layer utilities {
    .no-spin-button {
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    input.no-spin-button[type='number'] {
        -moz-appearance: textfield;
    }
}
